
# Lumberjack logging
github "RustyKnight/SwiftyJSON" >= 3.0
#github "RustyKnight/SwiftEventBus" >= 3.1
github "RustyKnight/CocoaAsyncSocket" >= 7.5
#github "RustyKnight/Firmware-Library"
#github "RustyKnight/Fuzi" "swift-3b2"